 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 html,body{
  height: 100%;
  width: 100%;
 color: #000000;
 }
 .parent{
  min-height: 100vh;
  width: 100%;
  background: #151515;
  padding: 30px;
  display: flex; 
  gap: 20px;
  flex-wrap: wrap;
   
 }
 .card{
  height: 330px;
  width: 280px;
  background: #ffffff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 .top{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
 }
 .top button{
   display: flex;
   align-items: center;
   border: 1px solid #dadadada;
   padding: 4px 8px;
   font-size: 13px;
   border-radius:5px ;
   gap: 3px;
   background-color: transparent;
   color: #b1b1b1;
 }
 .top img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #dadadada;
  padding: 1px;
  object-fit: cover;
 }
 .center h3{
  font-size: 18px;
  font-weight: 500;
 }
 .center h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #b1b1b1 ;
 }
 .center h2{
  font-size: 20px;
 }
 .center .tag{
  display: flex;
  gap: 5px;
  margin: 2px;
}
.center .tag h4{
  font-size: 14px;
  background-color: #dadada;
  color: #000000;
  padding: 3px 6px;
}
 .bottom{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
 }
 .bottom button{
  background: #000;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
 }
 .bottom h3{
  font-size: 17px;
 }
 .bottom p{
  font-size: 12px;
  color: #8b8b8b;
 }