*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.page1{
    height: 100vh;
    width: 100%;
    background: #1eed6a;
}
.page2{
    height: 100vh;
    width: 100%;
    background: #8c1eed;
}
.page3{
    height: 100vh;
    width: 100%;
    background: #ed1ea5;
}