 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 html, body {
  height: 100%;
  width: 100%;
 }
.card{
  background: #cb4b4b;
  border-radius:10px ;
  margin: 20px;
  padding: 20px;
}
.nav{
  background: #4b6cb7;
  border-radius:10px ;
  margin: 20px;
  padding: 20px;
}